
<!-- <header>

    <h1>BLOOD BANK MANAGEMENT SYSTEM</h1>
  
  </header>
  
  
  
  <div class="topnav">
  
    
  
    <a id="logout" routerLink="/">LOGOUT</a>
  
  </div> -->
  
<!-- 
  <marquee width="80%" direction="right" height="900px">
   <h1 style="color:red"> Welcome to Blood  Bank Management System</h1>
    </marquee> -->

    <marquee behavior="scroll" direction="up" scrollamount="1">Welcome to Blood  Bank Management System</marquee>
<marquee behavior="scroll" direction="right" scrollamount="12">Welcome to Blood  Bank Management System</marquee>
<marquee behavior="scroll" direction="left" scrollamount="20">Welcome to Blood  Bank Management System</marquee>
<marquee behavior="scroll" direction="right" scrollamount="50">Welcome to Blood  Bank Management System</marquee>
  <!-- <h1>Welcome to Blood  Bank Management System</h1> -->
  
  