
<!-- <header>

    <h1>BLOOD BANK MANAGEMENT SYSTEM</h1>
  
    
  
  </header>
  
  
  
  <div class="topnav">
  
    
  
    <a id="logout" routerLink="/">LOGOUT</a>
  
  </div> -->
  <ul>
    <li><a routerLink="/hospital">HOSPITALS LIST</a> </li>
    <li> <a routerLink="/blooddonationcamp">BLOOD DONATION CAMPS LIST</a></li>
    <li><a routerLink="/blooddonor">BLOOD DONORS LIST</a></li>
    <li> <a routerLink="/bloodbankmenu">BLOOD BANKS LIST</a> </li>
    <li><a routerLink="/inventory">INVENTORY</a></li>
    <li><a routerLink="/blooddonordonation">DONATIONS LIST</a></li>
  </ul>

  
  
  
  