<header>
  <h1>
<img style="height: 60px; width : 60px;"src="./assets/heart.png">
    BLOOD BANK MANAGEMENT SYSTEM</h1>
  
    
  
  </header>
  
  <div *ngIf="isLoggedin()"class="topnav mb-2" >
    <a id="home" routerLink="/home">HOME</a>
    <a routerLink="/bloodbankmenu">BLOOD BANKS LIST</a>
    <a routerLink="/blooddonationcamp">DONATION CAMPS LIST</a>
    <a routerLink="/hospital">HOSPITALS LIST</a>
    <a routerLink="/blooddonor">DONORS LIST</a>
    <a routerLink="/blooddonordonation">DONATIONS LIST</a>
    <a routerLink="/inventory">INVENTORY</a>
    
    <a id="logout" routerLink="/" (click)="logout()">LOGOUT</a>
    
  </div>

<router-outlet></router-outlet>