<!-- <header>
    <a routerLink="/home">Back</a>
    <h2>Blood Bank</h2>
</header>
 
<a [routerLink]="['add']" class="btn btn-primary">Add Blood Bank</a>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>BloodBank Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Contact</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let d of bloodBankList">
            <td>{{d.id}}</td>
            <td>{{d.bloodBankName}}</td>
            <td>{{d.address}}</td>
            <td>{{d.city}}</td>
            <td>{{d.contactNo}}</td>
            <td>
                <button [routerLink]="['update',d.id]" class="btn btn-primary">Update</button>
                <button (click)="delete(d.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table> -->

<div class="card p-5 mx-auto" style="width: 80%;">
    <a routerLink="/home">Back</a>
    <h2 class="card-title mx-auto">Blood Bank</h2>
    <button [routerLink]="['add']" class="btn btn-primary my-3">Add Blood Bank</button>
    <div class="button-div">
    <button [routerLink]="['/blooddonationcamp/add']" class="btn btn-primary my-3" style="width:15rem">Add Donation Camp</button> 

    
    </div>
    <table class="table table-striped mt-5">
        <thead>
            <th>Id</th>
            <th>BloodBank Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Contact</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let d of bloodBankList">
                <td>{{d.id}}</td>
                <td>{{d.bloodBankName}}</td>
                <td>{{d.address}}</td>
                <td>{{d.city}}</td>
                <td>{{d.contactNo}}</td>
                <td>
                    <button [routerLink]="['update',d.id]" class="btn btn-warning m-2">Update</button>
                    <button (click)="delete(d.id)" class="btn btn-danger m-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>