<div class="card p-5 mx-auto" style="width: 70%;">
    <a routerLink="/home">Back</a>
    <h2 class="card-title mx-auto">Inventory List</h2>
    <button class="btn btn-primary my-3" [routerLink]="['add']">Transfer Inventory</button>
    <table class="table table-striped mt-5">
        <thead>
            <th>Id</th>
            <th>Blood Group</th>
            <th>No. Of Bottles</th>
            <th>Blood Bank</th>
            <th>Expiry Date</th>
            <th>Actions</th>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let i of inventoryList">
                <td>{{i.id}}</td>
                <td>{{bloodGroup[i.bloodGroup]}}</td>
                <td>{{i.numberofBottles}}</td>
                <td>{{i.bloodBankId}}</td>
                <td>{{i.expiryDate |  date}}</td>
                <td>
                    <button [routerLink]="['update', i.id]" class="btn btn-warning m-2">Update</button>
                    <button (click)="delete(i.id)" class="btn btn-danger m-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>