<!-- <h2>Update Blood Bank Details</h2>
<form [formGroup]="bloodBankForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" 
            formControlName="id" readonly>
    </div>
    <div class="form-group">
        <label for="bloodBankName">Name</label>
        <input type="text" class="form-control" formControlName="bloodBankName">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" formControlName="address">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" formControlName="city">
    </div>
    <div class="form-group">
        <label for="contactNo">Contact</label>
        <input type="number" class="form-control" formControlName="contactNo">
    </div>
 
    <div class="form-group">
        <button type="submit" class="btn btn-primary" 
            [disabled]="!bloodBankForm.valid">Update</button>
        <button class="btn btn-secondary" [routerLink]="['/bloodbankmenu']">Blood Bank Menu</button>
    </div>
</form>

  -->
  <h2>Update Blood Bank</h2>
<form [formGroup]="bloodBankForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" 
            formControlName="id" readonly>
    </div>
    <div class="form-group">
        <label for="bloodBankName">Name</label>
        <input type="text" class="form-control" formControlName="bloodBankName">
    </div>
    <div *ngIf="bloodBankForm.get('bloodBankName')?.invalid && 
            (bloodBankForm.get('bloodBankName')?.dirty || bloodBankForm.get('bloodBankName')?.touched)"
            class="alert alert-danger">
            <div *ngIf="bloodBankForm.get('bloodBankName')?.errors?.['required']">
                bloodBankName is required.
            </div>
    </div>
    <!------------------------------------------->
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" formControlName="address">
    </div>
    <div *ngIf="bloodBankForm.get('address')?.invalid && 
            (bloodBankForm.get('address')?.dirty || bloodBankForm.get('address')?.touched)"
            class="alert alert-danger">
            <div *ngIf="bloodBankForm.get('address')?.errors?.['required']">
                address is required.
            </div>
    </div>
    <!-- -------------------------------------------------- -->
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" formControlName="city">
    </div>
    <div *ngIf="bloodBankForm.get('city')?.invalid && 
            (bloodBankForm.get('city')?.dirty || bloodBankForm.get('city')?.touched)"
            class="alert alert-danger">
            <div *ngIf="bloodBankForm.get('city')?.errors?.['required']">
                city is required.
            </div>
    </div>
    <!-- ----------------------------------------------------- -->
    <div class="form-group">
        <label for="contactNo">Contact</label>
        <input type="number" class="form-control" formControlName="contactNo">
    </div>
    <div *ngIf="bloodBankForm.get('contactNo')?.invalid && 
            (bloodBankForm.get('contactNo')?.dirty || bloodBankForm.get('contactNo')?.touched)"
            class="alert alert-danger">
            <div *ngIf="bloodBankForm.get('contactNo')?.errors?.['required']">
                contactNo is required.
            </div>
    </div>
    <!-- ----------------------------------------------------- -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary" 
            [disabled]="!bloodBankForm.valid">Update</button>
        <button class="btn btn-secondary" [routerLink]="['/bloodbankmenu']">Blood Bank Menu</button>
    </div>

    
</form>