<header><h1>ADD BLOOD DONOR DONATION DETAILS</h1></header>
 <div class="topnav">
   <a routerLink="/blooddonordonation">Back</a>
  
 </div>
 <br>
 <div>
 
     <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
         
         <div class="form-group">
            <label for="bloodDonorId">Blood Donor Name</label>
            <select class="form-control" formControlName="bloodDonorId">
                <option *ngFor="let d of donorList" value="{{d.id}}">{{d.firstName}}</option>>
            </select>
        </div>
         <div *ngIf="donationForm.get('bloodDonorId')?.invalid && 
            (donationForm.get('bloodDonorId')?.dirty || donationForm.get('bloodDonorId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonorId')?.errors?.['required']">
                bloodDonorId is required.
            </div>
    </div>
        <!------------------------------------------------------ -->
         <div class="form-group">
            <label for="bloodBankId">Blood Bank Name</label>
            <select class="form-control" (change)="filterList()" formControlName="bloodBankId">
                <option *ngFor="let d of bloodBankList" value="{{d.id}}">{{d.bloodBankName}}</option>>
            </select>
        </div>
         <div *ngIf="donationForm.get('bloodBankId')?.invalid && 
            (donationForm.get('bloodBankId')?.dirty || donationForm.get('bloodBankId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodBankId')?.errors?.['required']">
                bloodBankId is required.
            </div>
    </div>
        <!------------------------------------------------------ -->
         
         <div class="form-group">
             <label for="numberofBottle">Number Of Bottles</label>
             <input type="number" class="form-control" formControlName="numberofBottle">
         </div>
         <div *ngIf="donationForm.get('numberofBottle')?.invalid && 
            (donationForm.get('numberofBottle')?.dirty || donationForm.get('numberofBottle')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('numberofBottle')?.errors?.['required']">
                numberofBottle is required.
            </div>
    </div>
        <!------------------------------------------------------ -->

         <div class="form-group">
             <label for="weight">Weight(in Kg)</label>
             <input type="number" class="form-control" formControlName="weight">
         </div>
         <div *ngIf="donationForm.get('weight')?.invalid && 
            (donationForm.get('weight')?.dirty || donationForm.get('weight')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('weight')?.errors?.['required']">
                weight is required.
            </div>
    </div>
        <!------------------------------------------------------ -->
         <div class="form-group">
             <label for="hBCount">HB Count(g/dl)</label>
             <input type="number" class="form-control" formControlName="hBCount">
         </div>

         <div *ngIf="donationForm.get('hBCount')?.invalid && 
            (donationForm.get('hBCount')?.dirty || donationForm.get('hBCount')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('hBCount')?.errors?.['required']">
                hBCount is required.
            </div>
        </div>
        <!------------------------------------------------------ -->
         
         <div class="form-group">
            <label for="bloodDonationCampId">Blood Donation Camp Name</label>
            <select class="form-control" formControlName="bloodDonationCampId">
                <option *ngFor="let d of campList" value="{{d.id}}">{{d.campName}}</option>>
            </select>
        </div>

         <div *ngIf="donationForm.get('bloodDonationCampId')?.invalid && 
            (donationForm.get('bloodDonationCampId')?.dirty || donationForm.get('bloodDonationCampId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonationCampId')?.errors?.['required']">
                bloodDonationCampId is required.
            </div>
    </div>
        <!------------------------------------------------------ -->
         <div class="form-group">
             <label for="bloodDonationDate">Blood Donation Date</label>
             <input type="date" class="form-control" min="{{date | date:'yyyy-MM-dd'}}" formControlName="bloodDonationDate">
         </div>
         <div *ngIf="donationForm.get('bloodDonationDate')?.invalid && 
            (donationForm.get('bloodDonationDate')?.dirty || donationForm.get('bloodDonationDate')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonationDate')?.errors?.['required']">
                bloodDonationDate is required.
            </div>
    </div>
        <!------------------------------------------------------ -->
         <!-- <div class="form-group">
             <label for="expiryDate">Expiry Date</label>
             <input type="date" class="form-control" formControlName="expiryDate">
         </div>
         <div *ngIf="donationForm.get('expiryDate')?.invalid && 
            (donationForm.get('expiryDate')?.dirty || donationForm.get('expiryDate')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('expiryDate')?.errors?.['required']">
                expiryDate is required.
            </div>
    </div> -->
        <!------------------------------------------------------ -->
         <div class="form-group">
             <button class="btn btn-primary" [disabled]="!donationForm.valid" type="submit">Add</button>
         </div>
     </form>
 
  
 