



<header><h1>UPDATE BLOOD DONOR DONATION DETAILS</h1></header>
<div class="topnav">
  <a routerLink="/blooddonordonation">Back</a>
 <a id="logout" routerLink="">Logout</a>
</div>
<br>
<div>

    <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Blood Donation ID</label>
            <input type="number" readonly class="form-control" formControlName="id">
        </div>
        <div class="form-group">
            <label for="bloodDonorId">Blood Donor ID</label>
            <input type="number" class="form-control" formControlName="bloodDonorId">
        </div>
        <!-- <div class="form-group">
            <label for="bloodDonorId">Blood Donor Name</label>
            <select class="form-control" formControlName="bloodDonorId">
                <option *ngFor="let d of donorList" value="{{d.id}}">{{d.firstName}}</option>>
            </select>
        </div> -->
        <div *ngIf="donationForm.get('bloodDonorId')?.invalid && 
            (donationForm.get('bloodDonorId')?.dirty || donationForm.get('bloodDonorId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonorId')?.errors?.['required']">
                bloodDonorId is required.
            </div>
        </div>
        <!------------------------------->

        <div class="form-group">
            <label for="bloodBankId">Blood Bank ID</label>
            <input type="number" class="form-control" formControlName="bloodBankId">
        </div>
        <div *ngIf="donationForm.get('bloodBankId')?.invalid && 
            (donationForm.get('bloodBankId')?.dirty || donationForm.get('bloodBankId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodBankId')?.errors?.['required']">
                bloodBankId is required.
            </div>
        </div>


        <div class="form-group">
            <label for="numberofBottle">Number Of Bottles</label>
            <input type="number" class="form-control" formControlName="numberofBottle">
        </div>
        <div *ngIf="donationForm.get('numberofBottle')?.invalid && 
            (donationForm.get('numberofBottle')?.dirty || donationForm.get('numberofBottle')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('numberofBottle')?.errors?.['required']">
                numberofBottle is required.
            </div>
        </div>


        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" formControlName="weight">
        </div>
        <div *ngIf="donationForm.get('weight')?.invalid && 
        (donationForm.get('weight')?.dirty || donationForm.get('weight')?.touched)"
        class="alert alert-danger">
            <div *ngIf="donationForm.get('weight')?.errors?.['required']">
            weight is required.
            </div>
        </div>


        <div class="form-group">
            <label for="hbCount">HB Count</label>
            <input type="number" class="form-control" formControlName="hbCount">
        </div>
        <div *ngIf="donationForm.get('hbCount')?.invalid && 
            (donationForm.get('hbCount')?.dirty || donationForm.get('hbCount')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('hbCount')?.errors?.['required']">
                hbCount is required.
            </div>
        </div>


        <div class="form-group">
            <label for="bloodDonationCampId">Blood Donation Camp ID</label>
            <input type="number" class="form-control" formControlName="bloodDonationCampId">
        </div>
        <div *ngIf="donationForm.get('bloodDonationCampId')?.invalid && 
            (donationForm.get('bloodDonationCampId')?.dirty || donationForm.get('bloodDonationCampId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonationCampId')?.errors?.['required']">
                bloodDonationCampId is required.
            </div>
        </div>


        <div class="form-group">
            <label for="bloodDonationDate">Blood Donation Date</label>
            <input type="datetime" class="form-control" formControlName="bloodDonationDate">
        </div>
        <div *ngIf="donationForm.get('bloodDonationDate')?.invalid && 
            (donationForm.get('bloodDonationDate')?.dirty || donationForm.get('bloodDonationDate')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonationDate')?.errors?.['required']">
                bloodDonationDate is required.
            </div>
        </div>


        <div class="form-group">
            <label for="expiryDate">Expiry Date</label>
            <input type="datetime" class="form-control" formControlName="expiryDate">
        </div>
        <div *ngIf="donationForm.get('expiryDate')?.invalid && 
            (donationForm.get('expiryDate')?.dirty || donationForm.get('expiryDate')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('expiryDate')?.errors?.['required']">
                expiryDate is required.
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" [disabled]="!donationForm.valid" type="submit">Update</button>
        </div>
    </form>




<!-- 
 <header><h1>UPDATE BLOOD DONOR DONATION DETAILS</h1></header>
 <div class="topnav">
   <a routerLink="/blooddonordonation">Back</a>
  <a id="logout" routerLink="">Logout</a>
 </div>
 <br>
 <div>
 
     <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
             <label for="id">Blood Donation ID</label>
             <input type="number" readonly class="form-control" formControlName="id">
         </div>
         
         

         <div class="form-group">
            <label for="bloodDonorId">Blood Donor Name</label>
            <select class="form-control" formControlName="bloodDonorId">
                <option *ngFor="let d of donorList" value="{{d.id}}">{{d.firstName}}</option>>
            </select>
        </div>
         <div *ngIf="donationForm.get('bloodDonorId')?.invalid && 
            (donationForm.get('bloodDonorId')?.dirty || donationForm.get('bloodDonorId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonorId')?.errors?.['required']">
                bloodDonorId is required.
            </div>
        </div>
        
         <div class="form-group">
             <label for="bloodBankId">Blood Bank ID</label>
             <input type="number" class="form-control" formControlName="bloodBankId">
         </div>
         <div *ngIf="donationForm.get('bloodBankId')?.invalid && 
            (donationForm.get('bloodBankId')?.dirty || donationForm.get('bloodBankId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodBankId')?.errors?.['required']">
                bloodBankId is required.
            </div>
        </div>
        
         
        
         <div class="form-group">
             <label for="numberofBottle">Number Of Bottles</label>
             <input type="number" class="form-control" formControlName="numberofBottle">
         </div>
         <div *ngIf="donationForm.get('numberofBottle')?.invalid && 
            (donationForm.get('numberofBottle')?.dirty || donationForm.get('numberofBottle')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('numberofBottle')?.errors?.['required']">
                numberofBottle is required.
            </div>
        </div>
        
         <div class="form-group">
             <label for="weight">Weight</label>
             <input type="number" class="form-control" formControlName="weight">
         </div>
         <div *ngIf="donationForm.get('weight')?.invalid && 
            (donationForm.get('weight')?.dirty || donationForm.get('weight')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('weight')?.errors?.['required']">
                weight is required.
            </div>
        </div>
        
         <div class="form-group">
             <label for="hbCount">HB Count</label>
             <input type="number" class="form-control" formControlName="hbCount">
         </div>
         <div *ngIf="donationForm.get('hbCount')?.invalid && 
            (donationForm.get('hbCount')?.dirty || donationForm.get('hbCount')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('hbCount')?.errors?.['required']">
                hbCount is required.
            </div>
        </div>
        
         <div class="form-group">
             <label for="bloodDonationCampId">Blood Donation Camp ID</label>
             <input type="number" class="form-control" formControlName="bloodDonationCampId">
         </div>
         <div class="form-group">
            <label for="bloodDonationCampId">Blood Donor Name</label>
            <select class="form-control" formControlName="bloodDonationCampId">
                <option *ngFor="let d of donationList" value="{{d.id}}">{{d.campName}}</option>>
            </select>
        </div>
         <div *ngIf="donationForm.get('bloodDonationCampId')?.invalid && 
            (donationForm.get('bloodDonationCampId')?.dirty || donationForm.get('bloodDonationCampId')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonationCampId')?.errors?.['required']">
                bloodDonationCampId is required.
            </div>
        </div>
        
         <div class="form-group">
             <label for="bloodDonationDate">Blood Donation Date</label>
             <input type="datetime" class="form-control" formControlName="bloodDonationDate">
         </div>
         <div *ngIf="donationForm.get('bloodDonationDate')?.invalid && 
            (donationForm.get('bloodDonationDate')?.dirty || donationForm.get('bloodDonationDate')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('bloodDonationDate')?.errors?.['required']">
                bloodDonationDate is required.
            </div>
        </div>
        
         <div class="form-group">
             <label for="expiryDate">Expiry Date</label>
             <input type="datetime" class="form-control" formControlName="expiryDate">
         </div>
         <div *ngIf="donationForm.get('expiryDate')?.invalid && 
            (donationForm.get('expiryDate')?.dirty || donationForm.get('expiryDate')?.touched)"
            class="alert alert-danger">
            <div *ngIf="donationForm.get('expiryDate')?.errors?.['required']">
                expiryDate is required.
            </div>
        </div>
        
         <div class="form-group">
             <button class="btn btn-primary" [disabled]="!donationForm.valid" type="submit">Update</button>
         </div>
     </form>
 
    -->