
<!DOCTYPE html>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<div id="bg">
<head>
</head>

  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>

          <!-- <input type="text" placeholder="Username">
          <input type="password"  placeholder="Password" > -->
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control"
                formControlName="username">
        </div>
    
        <div *ngIf="userForm.get('username')?.invalid && 
            (userForm.get('username')?.dirty || userForm.get('username')?.touched)"
            class="alert alert-danger">
            <div *ngIf="userForm.get('username')?.errors?.['required']">
                Username is required.
            </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"
              formControlName="password">
      </div>
  
      <div *ngIf="userForm.get('password')?.invalid && 
          (userForm.get('password')?.dirty || userForm.get('password')?.touched)"
          class="alert alert-danger">
          <div *ngIf="userForm.get('password')?.errors?.['required']">
              Password is required.
          </div>
      </div>




      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Login</button>
        <!-- <button class="btn btn-secondary" [routerLink]="['/register']">Register</button> -->
    </div>

      </div>
    </div>
  
</body>
</div>
</form>
